static_resources:
  listeners:
  - address:
      socket_address:
        address: 0.0.0.0
        port_value: 80
    filter_chains:
    - filters:
      - name: envoy.http_connection_manager
        config:
          tracing:
            operation_name: ingress
          codec_type: auto
          stat_prefix: ingress_http
          access_log:
            - name: envoy.file_access_log
              config:
                path: "/var/log/access.log"
          route_config:
            name: local_route
            virtual_hosts:
            - name: service2
              domains:
              - "*"
              routes:
              - match:
                  prefix: "/"
                route:
                  cluster: local_service
                decorator:
                  operation: checkStock
          http_filters:
          - name: envoy.router
            config: {}
      tls_context:
        require_client_certificate: true
        common_tls_context:
          tls_certificates:
            - certificate_chain:
                filename: /etc/certs/servercert.pem
              private_key:
                filename: /etc/certs/serverkey.pem
          validation_context:
            trusted_ca:
              filename: /etc/certs/upstreamcacert.pem
            verify_certificate_hash:
              - "F4:00:88:1E:50:4B:E6:CC:BE:64:23:55:4F:3E:83:A5:3E:A9:FB:EF:B6:47:99:EB:36:C2:7D:9D:5C:A4:F2:1D"
  clusters:
  - name: local_service
    connect_timeout: 0.250s
    type: strict_dns
    lb_policy: round_robin
    hosts:
    - socket_address:
        address: local-service
        port_value: 8080
  - name: jaeger
    connect_timeout: 1s
    type: EDS
    lb_policy: round_robin
    eds_cluster_config:
      eds_config:
        api_config_source:
          api_type: REST_LEGACY
          cluster_names: [xds_cluster]
          refresh_delay:
            seconds: 5
  - name: xds_cluster
    connect_timeout: 0.25s
    type: strict_dns
    lb_policy: ROUND_ROBIN
    # http2_protocol_options: {}
    {{ $discovery := parseUrl .Env.DISCOVERY_URL }}
    {{ $discoveryArray := split $discovery.Host ":" }}
    hosts: [{ socket_address: { address: "{{ index $discoveryArray 0 }}", port_value: {{ index $discoveryArray 1 }} }}]
tracing:
  http:
    name: envoy.zipkin
    config:
      collector_cluster: jaeger
      collector_endpoint: "/api/v1/spans"
admin:
  access_log_path: "/dev/null"
  address:
    socket_address:
      address: 0.0.0.0
      port_value: 8001
